body {
  font-family: Arial, sans-serif;
  background-image: url("/assets/img/space.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  max-width: 90%;
  width: 600px;
  padding: 1rem;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container h1 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.input-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  align-items: center;
}

.container .input-container {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
}

#task-input {
  border: none;
  flex-grow: 1;
  margin-right: 10px;
}

.container #task-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
}

.container #todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  transition: box-shadow 0.3s ease;
}

li:active {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.container #todo-list li {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.container #todo-list li input[type="checkbox"] {
  margin-right: 0.5rem;
}

.container #refresh-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

#clear-completed-btn {
  transition: background 0.3s ease-in-out;
}

.container #clear-completed-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#enter-btn {
  background: none;
  opacity: 0.5;
  border: none;
  color: gray;
  transition: opacity 0.3s ease-in-out;
}

#enter-btn:hover {
  opacity: 1;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #666;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
}

input[type='checkbox']:checked::before {
  content: '\2713';
  font-size: 18px;
  color: #666;
  position: absolute;
  top: -2px;
  left: 4px;
}

#clear-completed-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

input[type='checkbox']:checked ~ span {
  text-decoration: line-through;
  color: gray;
}

/* Estilos para el contenedor de los botones */
#todo-list li .button-container {
  margin-left: auto;
  display: flex;
  gap: 1px;
}

/* Estilos para el botón de borrar */
#todo-list li .button-container button {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  border: none; /* Elimina cualquier borde */
  background: none; /* Elimina cualquier fondo */
  margin-left: 10px;
}

#todo-list li .button-container button:hover {
  opacity: 1;
}

/* Estilos para el botón de arrastrar */
#todo-list li .button-container .drag-icon {
  font-size: 1.2rem;
  color: #777;
  cursor: move;
  transition: color 0.2s ease-in-out;
}

#todo-list li .button-container .drag-btn {
  background: none;
  border: none;
  cursor: move;
}

#todo-list li .button-container .drag-btn:hover .drag-icon {
  color: #333;
}

/* Estilos para el contenedor de texto y checkbox */
#todo-list li .text-container {
  display: flex;
  gap: 10px;
}

/* Media queries para tabletas y dispositivos móviles */
@media (max-width: 768px) {
  /* stylelint-disable-next-line indentation */
.container {
    width: 100%;
    padding: 0.5rem;
  }

  #todo-list li .text-container {
    width: 80%; /* Ajusta la anchura del contenedor de texto al 80% en dispositivos móviles y tabletas */
  }

  #todo-list li .button-container {
    width: 20%; /* Ajusta la anchura del contenedor de botones al 20% en dispositivos móviles y tabletas */
    justify-content: space-evenly; /* Esto distribuye los botones de manera uniforme en el espacio disponible. */
  }

  #todo-list li .button-container button {
    font-size: 1rem; /* Ajusta el tamaño de los íconos para los dispositivos móviles y tabletas. */
  }

  #task-input {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente del campo de entrada para los dispositivos móviles y tabletas. */
  }
}
